<!-- PROPERTIES DETAILS AREA START -->
<div class="properties-details-area pt-115 pb-60">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- pro-details-image -->
        <div class="pro-details-image mb-60">
          <div class="pro-details-big-image">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="pro-1">
                <a href="assets/images/single-property/big/1.jpg" data-lightbox="image-1"
                   data-title="Sheltek Properties - 1">
                  <img src="assets/images/single-property/big/1.jpg" alt="">
                </a>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="pro-2">
                <a href="assets/images/single-property/big/2.jpg" data-lightbox="image-1"
                   data-title="Sheltek Properties - 2">
                  <img src="assets/images/single-property/big/2.jpg" alt="">
                </a>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="pro-3">
                <a href="assets/images/single-property/big/3.jpg" data-lightbox="image-1"
                   data-title="Sheltek Properties - 3">
                  <img src="assets/images/single-property/big/3.jpg" alt="">
                </a>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="pro-4">
                <a href="assets/images/single-property/big/1.jpg" data-lightbox="image-1"
                   data-title="Sheltek Properties - 4">
                  <img src="assets/images/single-property/big/1.jpg" alt="">
                </a>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="pro-5">
                <a href="assets/images/single-property/big/2.jpg" data-lightbox="image-1"
                   data-title="Sheltek Properties - 5">
                  <img src="assets/images/single-property/big/2.jpg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- pro-details-short-info -->
        <div class="pro-details-short-info mb-60">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <div class="pro-details-condition">
                <h5>Condition</h5>
                <div class="pro-details-condition-inner bg-gray">
                  <ul class="condition-list">
                    <li><img src="assets/images/icons/5.png" alt="">{{home.bedroom}}</li>
                    <li><img src="assets/images/icons/6.png" alt="">{{home.showerRoom}}</li>
                    <li><img src="assets/images/icons/7.png" alt="">{{home.numberOfTurns}}</li>
                    <li><img src="assets/images/icons/13.png" alt="">{{home.area}} m<sup>2</sup></li>
                    <li><img src="assets/images/icons/14.png" alt="">{{home.category?.name}}</li>
                    <li>{{home.price}} VNĐ</li>
                  </ul>
                  <p><img src="assets/images/icons/location.png" alt="">{{home.address}}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="pro-details-amenities">
                <h5>Amenities</h5>
                <div class="pro-details-amenities-inner bg-gray">
                  <ul class="amenities-list">
                    <li>Điều hòa nhiệt độ</li>
                    <li>Chăn ga gối đệm</li>
                    <li>Ban công</li>
                    <li>Truyền hình cáp</li>
                    <li>Internet</li>
                    <li>Đậu xe</li>
                    <li>Nâng</li>
                    <li>Hồ bơi</li>
                    <li>Máy rửa chén</li>
                    <li>Máy nướng bánh mì</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- pro-details-description -->
        <div class="pro-details-description mb-50">
          <p><span data-placement="top" data-toggle="tooltip" data-original-title="The name you can trust"
                   class="tooltip-content">Sheltek </span>Cần bán gấp căn nhà hoàn thiện vừa xong chưa qua sử dụng khu đông nam Vạn Phúc City, Thủ Đức.
            Diện tích: 7x21m... Diện tích sử dụng tầm 400m2.
            Kết cấu: Trệt + 4 lầu.
          </p>
          <p> Đường lớn số 7(20m) trục đường nối tất cả các tiện ích ở dự án.
            Giá: 28 tỷ.
          </p>
          <p> Nội thất; Hoàn thiện có thang máy khai thác sử dụng ngay cho thuê 60 triệu/tháng.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- PROPERTIES DETAILS AREA END -->
