<div class="login-section pt-115 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-12"></div>
      <div class="col-md-6 col-xs-12">
        <div class="registered-customers mb-50">
          <h3 class="mb-50 fontLogin">Đăng nhập</h3>
          <form action="#" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="login-account p-30 box-shadow">
              <p class="fontLogin"><strong>Bạn đã có tài khoản, hãy đăng nhập ngay.</strong></p>
              <input class="fontLogin" type="text" name="name" formControlName="username" placeholder="Tài khoản">
              <input class="fontLogin" type="password" name="password" formControlName="password" placeholder="Mật khẩu">
              <p class="fontLogin"><small><a href="#">Quên mật khẩu?</a></small></p>
              <button class="btn-primary " mat-button style="color: whitesmoke" type="submit">
                <sub><span class="material-icons">touch_app</span></sub>&nbsp;Đăng nhập</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
