<div id="divWeatherMain" *ngIf="weatherShow">

  <div *ngIf="WeatherData.isDay" class="weatherWidgetRow">
    <i class="fas fa-3x fa-sun sun"></i>
  </div>
  <div *ngIf="!WeatherData.isDay" class="weatherWidgetRow">
    <i class="fas fa-3x fa-moon moon"></i>
  </div>
  <button mat-button style="margin-top: 0px; color: #d0e5f5; " align="center">Thời tiết hôm nay</button>

  <div class="weatherWidgetRow cloudDiv">
    <span style="font-size: 30px; margin-top: 25px" class="material-icons fas fa-3x cloud">filter_drama</span>
  </div>
  <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 0px;">
    {{WeatherData.temp_celcius}}°</div>
  <div class="weatherWidgetRow" style="font-size: 12px;margin-top: 10px;">
    {{WeatherData.temp_min}}° / {{WeatherData.temp_max}}°
  </div>
  <div class="weatherWidgetRow" style="font-size: 12px;">Cảm thấy như:
    {{WeatherData.temp_feels_like}}°</div>
  <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">
    {{WeatherData.name}}</div>
  <div class="weatherWidgetRow" style="font-size: 12px;margin-top: 10px;">Độ ẩm:
    {{WeatherData.main.humidity}}%</div>

  <button mat-button class="alo1" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: white" (click)="change2()">&nbsp;Đóng</button>
</div>
<h2 class="alo1" *ngIf="button" style="color: #1a237e" (click)="change()">
  <sub><span class="material-icons">light_mode</span></sub>&nbsp;Xem thời tiết</h2>


