<h1 style="color: indigo" mat-dialog-title>Điều khoản và dịch vụ&emsp;<sub><span
  class="material-icons">auto_stories</span></sub></h1>
<mat-dialog-content class="mat-typography">
  <h3 class="a1 fontDialog">Phát triển trên tất cả các nền tảng</h3>
  <p class="fontDialog">Tìm hiểu một cách để xây dựng ứng dụng với Angular và sử dụng lại mã và khả năng của bạn để xây
    dựng
    ứng dụng cho bất kỳ mục tiêu triển khai nào. Đối với web, web di động, điện thoại di động gốc và máy tính để bàn
    gốc.</p>

  <h3 class="a1 fontDialog">Tốc độ & amp; Màn biểu diễn</h3>
  <p class="fontDialog">Đạt được tốc độ tối đa có thể trên Nền tảng web ngay hôm nay và tiến xa hơn nữa, thông qua Web
    Công nhân và kết xuất phía máy chủ. Angular cho phép bạn kiểm soát khả năng mở rộng. Gặp gỡ rất lớn
    yêu cầu dữ liệu bằng cách xây dựng mô hình dữ liệu trên RxJS, Immutable.js hoặc một mô hình đẩy khác.</p>

  <h3 class="a1 fontDialog">Dụng cụ đáng kinh ngạc</h3>
  <p class="fontDialog">Xây dựng các tính năng một cách nhanh chóng với các mẫu khai báo, đơn giản. Mở rộng ngôn ngữ mẫu
    với
    các thành phần của riêng bạn và sử dụng một loạt các thành phần hiện có. Nhận Angular cụ thể ngay lập tức
    trợ giúp và phản hồi với gần như mọi IDE và trình chỉnh sửa. Tất cả điều này kết hợp với nhau để bạn có thể tập
    trung
    xây dựng các ứng dụng tuyệt vời thay vì cố gắng làm cho mã hoạt động.</p>

  <h3 class="a1 fontDialog">Được hàng triệu người yêu thích</h3>
  <p class="fontDialog">Từ nguyên mẫu thông qua triển khai toàn cầu, Angular mang lại năng suất và khả năng mở rộng
    cơ sở hạ tầng hỗ trợ các ứng dụng lớn nhất của Google.</p>

  <h3 class="a1 fontDialog">Angular là gì?</h3>

  <p class="fontDialog">Angular là một nền tảng giúp bạn dễ dàng xây dựng các ứng dụng với web. Angular
    kết hợp các mẫu khai báo, chèn phụ thuộc, công cụ end to end và tích hợp
    thực tiễn tốt nhất để giải quyết các thách thức phát triển. Angular trao quyền cho các nhà phát triển xây dựng
    các ứng dụng hoạt động trên web, thiết bị di động hoặc máy tính để bàn</p>

  <h3 class="a1 fontDialog">Tổng quan kiến trúc</h3>

  <p class="fontDialog">Angular là một nền tảng và khuôn khổ để xây dựng các ứng dụng khách bằng HTML và TypeScript.
    Angular chính nó được viết bằng TypeScript. Nó thực hiện chức năng cốt lõi và tùy chọn như một
    tập hợp các thư viện TypeScript mà bạn nhập vào ứng dụng của mình.</p>

  <p class="fontDialog">Các khối xây dựng cơ bản của một ứng dụng Angular là NgModules, cung cấp một biên dịch
    ngữ cảnh cho các thành phần. NgModules thu thập mã liên quan thành các bộ chức năng; một ứng dụng Angular là
    được xác định bởi một tập hợp các NgModules. Một ứng dụng luôn có ít nhất một mô-đun gốc cho phép
    bootstrapping, và thường có nhiều mô-đun tính năng hơn.</p>

  <p class="fontDialog">Các thành phần xác định các khung nhìn, là tập hợp các phần tử màn hình mà Angular có thể chọn
    trong số và
    sửa đổi theo logic và dữ liệu chương trình của bạn. Mọi ứng dụng đều có ít nhất một thành phần gốc.</p>

  <p class="fontDialog">Các thành phần sử dụng các dịch vụ, cung cấp chức năng cụ thể không liên quan trực tiếp đến các
    khung nhìn.
    Các nhà cung cấp dịch vụ có thể được đưa vào các thành phần dưới dạng phụ thuộc, làm cho mã của bạn trở thành
    mô-đun,
    có thể tái sử dụng và hiệu quả.</p>

  <p class="fontDialog">Cả hai thành phần và dịch vụ chỉ đơn giản là các lớp, với trình trang trí đánh dấu loại của
    chúng và
    cung cấp siêu dữ liệu cho Angular biết cách sử dụng chúng.</p>

  <p class="fontDialog">Siêu dữ liệu cho một lớp thành phần liên kết nó với một mẫu xác định một dạng xem. MỘT
    mẫu kết hợp HTML thông thường với các chỉ thị Angular và đánh dấu liên kết cho phép Angular
    để sửa đổi HTML trước khi kết xuất nó để hiển thị.</p>

  <p class="fontDialog">Siêu dữ liệu cho một lớp dịch vụ cung cấp thông tin mà Angular cần để cung cấp cho nó
    tới các thành phần thông qua Dependency Injection (DI).</p>

  <p class="fontDialog">Các thành phần của ứng dụng thường xác định nhiều chế độ xem, được sắp xếp theo thứ bậc. Angular
    cung cấp
    dịch vụ Bộ định tuyến để giúp bạn xác định các đường dẫn hướng giữa các khung nhìn. Bộ định tuyến cung cấp
    khả năng điều hướng trong trình duyệt phức tạp.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!--  <button mat-button mat-dialog-close>Cancel</button>-->
  <div class="example-button-row">
    <button style="color: #1a237e" mat-icon-button aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button style="color: #95c419" aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>


  </div>
  <button class="a2" style="background-color: #ffc107" mat-button [mat-dialog-close]="true" cdkFocusInitial>
    <span class="material-icons">grading</span>Tôi đã đọc và đồng ý với các điều khoản
  </button>

</mat-dialog-actions>

