body {
  font-family: 'Comforter', cursive !important;
  font-family: 'Open Sans', sans-serif !important;
}
.f1 {
  font-family: 'Comforter', cursive !important;
  font-family: 'Open Sans', sans-serif !important;
}
.f2 {
  color: whitesmoke;
}
.f3 {
  font-size: 16px;
}
.f4 {
  font-size: 20px;
}
.f5 {
  color: #2e6da4;
}
.f6 {
  color: #22b722;
}
